html,
body {
  color: #333;
  padding: 0;
  margin: 0 auto;
  max-width: 414px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Arial", "Microsoft yahei", "SimSun";
}
@media only screen and (min-width: 320px) {
  html,
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 375px) {
  html,
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 414px) {
  html,
  body {
    font-size: 15px;
  }
}
.overflow-hidden {
  overflow-y: hidden;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-float {
  clear: both;
}
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 414px;
  background-color: white;
  margin: auto;
}
@media only screen and (min-width: 320px) {
  .footer {
    height: 48px;
  }
}
@media only screen and (min-width: 375px) {
  .footer {
    height: 52px;
  }
}
@media only screen and (min-width: 414px) {
  .footer {
    height: 54px;
  }
}
.footer__item {
  width: 20%;
  float: left;
}
.footer__item_home {
  background: url(../img/icon/tab_homepage@2x.png) no-repeat;
  background-size: 100%;
}
.footer__item_find {
  background: url(../img/icon/tab_find@2x.png) no-repeat;
  background-size: 100%;
}
.footer__item_grocery {
  background: url(../img/icon/tab_grocery-store@2x.png) no-repeat;
  background-size: 100%;
}
.footer__item_mall {
  background: url(../img/icon/tab_mall@2x.png) no-repeat;
  background-size: 100%;
}
.footer__item_my {
  background: url(../img/icon/tab_my@2x.png) no-repeat;
  background-size: 100%;
}
@media only screen and (min-width: 320px) {
  .footer__item_img {
    display: inline-block;
    margin-top: 4px;
    height: 24px;
    width: 24px;
  }
}
@media only screen and (min-width: 375px) {
  .footer__item_img {
    display: inline-block;
    margin-top: 4px;
    height: 26px;
    width: 26px;
  }
}
@media only screen and (min-width: 414px) {
  .footer__item_img {
    display: inline-block;
    margin-top: 4px;
    height: 28px;
    width: 28px;
  }
}
.footer__item_text {
  margin-top: -2px;
  font-size: 1.1rem;
}
.footer .active .footer__item_home {
  background: url(../img/icon/tab_homepage_s@2x.png) no-repeat;
  background-size: 100%;
}
.footer .active .footer__item_find {
  background: url(../img/icon/tab_find_s@2x.png) no-repeat;
  background-size: 100%;
}
.footer .active .footer__item_grocery {
  background: url(../img/icon/tab_grocery-store_s@2x.png) no-repeat;
  background-size: 100%;
}
.footer .active .footer__item_my {
  background: url(../img/icon/tab_homepage_s@2x.png) no-repeat;
  background-size: 100%;
}
.footer .active .footer__item_text {
  color: #ff9570;
}
.footer_placeholder {
  width: 100%;
  max-height: 414px;
}
@media only screen and (min-width: 320px) {
  .footer_placeholder {
    height: 54px;
  }
}
@media only screen and (min-width: 375px) {
  .footer_placeholder {
    height: 58px;
  }
}
@media only screen and (min-width: 414px) {
  .footer_placeholder {
    height: 60px;
  }
}
