@black:        #333;
@gray:         #c8c8c8;
@light-gray-1: #f1f1f1;
@light-gray-2: #f2f2f2;
@light-gray-3: #f8f8f8;
@yellow:       #fd5a22;
@red:          #eb5a29;
@baseSize:     10px;
@max-width:    414px;
@nav-height:   48px;
@time:         0.3s;
html,body{
	color: @black;
	padding: 0;
	margin: 0 auto;
	max-width: @max-width;
	font-family: "Helvetica Neue","Hiragino Sans GB", "Arial", "Microsoft yahei", "SimSun";
}
@media only screen and(min-width: 320px) {
	html,body{
		font-size: 12px;
	}
}
@media only screen and(min-width: 375px) {
	html,body{
		font-size: 14px;
	}
}
@media only screen and(min-width: 414px) {
	html,body{
		font-size: 15px;
	}
}
.overflow-hidden{
    //overflow: hidden;
    overflow-y: hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-float{
    clear: both;
}
.border-point-five(@color:@gray;@top:0px){
    content: '';
    position: absolute;
    left: 0;
    top: @top;
    z-index: 1;
    width: 200%;
    border-top: 1px solid @gray;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform: scale(0.5,0.5);
    -webkit-transform: scale(0.5,0.5);
}
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.transform-scale3d (@x:0; @y: 0; @z: 0) {
	-webkit-transform: scale3d(@x, @y, @z);
	transform: scale3d(@x, @y, @z);
}
.transform-rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.transition-height(@time:0.2s){
    transition:height @time;
    -moz-transition:height @time; /* Firefox 4 */
    -webkit-transition:height @time; /* Safari and Chrome */
    -o-transition:height @time; /* Opera */
}
.selected-icon(){
    content: " ";
    position: absolute;
    top: 10px;
    right: 15px;
    border: 2px solid transparent;
    border-left-color: @red;
    border-bottom-color: @red;
    height: 7px;
    width: 15px;
    margin-left: 8px;
    margin-bottom: 5px;
    .transform-rotate(-45deg);
}
.general-appearance (@state: initial) {
    appearance:@state;
    -moz-appearance:@state; /* Firefox */
    -webkit-appearance:@state; /* Safari 和 Chrome */
}