html,
body {
  color: #333;
  padding: 0;
  margin: 0 auto;
  max-width: 414px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Arial", "Microsoft yahei", "SimSun";
}
@media only screen and (min-width: 320px) {
  html,
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 375px) {
  html,
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 414px) {
  html,
  body {
    font-size: 15px;
  }
}
.overflow-hidden {
  overflow-y: hidden;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-float {
  clear: both;
}
.header {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
  width: 100%;
  max-width: 414px;
  height: 40px;
  line-height: 41px;
  border-bottom: 1px solid #c8c8c8;
}
.header__back {
  width: 15%;
  height: 36px;
  float: left;
}
.header__back:before {
  top: 12px;
  left: 15px;
  border: 2px solid transparent;
  border-left-color: #eb5a29;
  border-bottom-color: #eb5a29;
  content: " ";
  height: 12px;
  width: 12px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.header__title {
  text-align: center;
  width: 70%;
  font-size: 1.4rem;
  float: left;
}
.header__search {
  width: 15%;
  height: 36px;
  float: left;
}
.header__search:after {
  top: 7px;
  right: 15px;
  background: url(../img/icon/search@2x.png) no-repeat;
  height: 26px;
  width: 26px;
  background-size: 100%;
  content: " ";
  position: absolute;
}
.header_placeholder {
  height: 41px;
}
