html,
body {
  color: #333;
  padding: 0;
  margin: 0 auto;
  max-width: 414px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Arial", "Microsoft yahei", "SimSun";
}
@media only screen and (min-width: 320px) {
  html,
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 375px) {
  html,
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 414px) {
  html,
  body {
    font-size: 15px;
  }
}
.overflow-hidden {
  overflow-y: hidden;
}
.home__search {
  position: fixed;
  top: 2%;
  z-index: 2;
  width: 100%;
  max-width: 414px;
  height: 30px;
  line-height: 30px;
}
.home__search_content {
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home__search_background {
  background-color: black;
  opacity: 0.2;
  height: 30px;
  margin-bottom: -30px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home__search_icon {
  background: url(../img/icon/nav_search@2x.png) no-repeat;
  height: 24px;
  width: 24px;
  background-size: 100%;
  position: absolute;
  left: 5px;
  top: 3px;
  z-index: 1;
}
.home__search_text {
  position: relative;
  margin-left: 35px;
  color: white;
  font-size: 1.3rem;
  z-index: 10;
}
.home__container {
  width: 100%;
  height: auto;
}
.home__container_slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.home__container_slide img {
  width: 100%;
}
.home__pagination .swiper-pagination-bullet {
  background-color: #c8c8c8;
  opacity: 1;
}
.home__pagination .swiper-pagination-bullet-active {
  background-color: white;
}
.home__relax_item {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 3px;
}
.home__relax img {
  width: 45%;
}
.home__relax_text {
  font-size: 1.1rem;
  padding-top: 3px;
  padding-bottom: 3px;
}
.home__give {
  clear: both;
  margin-bottom: 5px;
}
.home__give img {
  width: 100%;
}
.home-list {
  margin-left: 12px;
  margin-right: 12px;
}
.home-list__title {
  font-size: 1.1rem;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}
.home-list__title_color {
  width: 1.5%;
  background-color: #fd5a22;
  display: inline-block;
  margin-right: 2px;
}
.home-list__img {
  position: relative;
  margin-bottom: 5px;
}
.home-list__img_width {
  width: 100%;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home-list__img_content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 33%;
  left: 50%;
  color: white;
  margin-left: -50%;
  text-align: center;
}
.home-list__img_desc {
  font-size: 1.4rem;
}
.home-list__img_desc-border {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.home-list__img_text {
  font-size: 1.1rem;
  padding-top: 8px;
}
.home-list__img:last-child {
  margin-bottom: 0;
}
.home-list__chose {
  display: none;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  bottom: 2%;
  right: 0;
  opacity: 0.3;
  animation: translate-shadow 0.6s;
  -moz-animation: translate-shadow 0.6s;
  -webkit-animation: translate-shadow 0.6s;
  -o-animation: translate-shadow 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes translate-shadow {
  from {
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
  }
  to {
    left: 0;
    top: 0;
    bottom: 2%;
    right: 0;
  }
}
@-moz-keyframes translate-shadow {
  from {
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
  }
  to {
    left: 0;
    top: 0;
    bottom: 2%;
    right: 0;
  }
}
@-webkit-keyframes translate-shadow {
  from {
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
  }
  to {
    left: 0;
    top: 0;
    bottom: 2%;
    right: 0;
  }
}
@keyframes translate-shadow {
  from {
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
  }
  to {
    left: 0;
    top: 0;
    bottom: 2%;
    right: 0;
  }
}
@-moz-keyframes translate-shadow {
  from {
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
  }
  to {
    left: 0;
    top: 0;
    bottom: 2%;
    right: 0;
  }
}
@-webkit-keyframes translate-shadow {
  from {
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;
  }
  to {
    left: 0;
    top: 0;
    bottom: 2%;
    right: 0;
  }
}
.home-list__item {
  display: none;
  height: 40%;
  width: 19%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9.5%;
  margin-top: -9.5%;
  animation: showImage 0.8s;
  -moz-animation: showImage 0.8s;
  -webkit-animation: showImage 0.8s;
  -o-animation: showImage 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.home-list__item_pot {
  background: url(../img/icon/find_pot@2x.png) no-repeat;
  background-size: 100% 100%;
}
.home-list__item_shopping {
  background: url(../img/icon/go_shopping@2x.png) no-repeat;
  background-size: 100% 100%;
}
.home-list__item_food {
  background: url(../img/icon/lookingfor_food@2x.png) no-repeat;
  background-size: 100% 100%;
}
.home-list__item_kimono {
  background: url(../img/icon/rent_kimono@2x.png) no-repeat;
  background-size: 100% 100%;
}
.home-list__item_one {
  left: 50%;
}
.home-list__item_two-1 {
  left: 35%;
}
.home-list__item_two-2 {
  left: 65%;
}
.home-list__item_three-1 {
  left: 23%;
}
.home-list__item_three-2 {
  left: 50%;
}
.home-list__item_three-3 {
  left: 77%;
}
@keyframes showImage {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  40% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes showImage {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  40% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes showImage {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  40% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes showImage {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  40% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes showImage {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  40% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes showImage {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  40% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
  }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
