<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>导游说</title>
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>

    <!--header start-->
    <div class="header">
        <div class="header__back"></div>
        <div class="header__title">一澜拉面</div>
        <!--<div class="header__search"></div>-->
    </div>
    <div class="header_placeholder"></div>
    <!--header end-->

    <!-- attractions nav start-->
    <div class="nav">
        <div class="nav__item tag nav__item_half">
            <span class="nav__item_title">东京<span class="nav__item_caret"></span></span>
            <div class="nav__item_shadow"></div>
        </div>
        <div class="nav__item order nav__item_half">
            <span class="nav__item_title">默认排序<span class="nav__item_caret"></span></span>
            <div class="nav__item_shadow"></div>
        </div>
        <div class="nav_placeholder"></div>

        <!--for nav item two-->
        <div class="nav-two">
            <div class="nav-two__center nav-two__center_half">
                <!--tagList repeat -->
                <div class="nav-two__center_item selected">东京</div>
                <div class="nav-two__center_item">大阪</div>
            </div>
        </div>

        <!--for nav item three-->
        <div class="nav-three">
            <div class="nav-three__center">
                <!--orderList repeat -->
                <div class="nav-three__center_item selected">默认排序</div>
                <div class="nav-three__center_item">离我最近</div>
                <div class="nav-three__center_item">播放最多</div>
                <div class="nav-three__center_item">收藏最多</div>
            </div>
        </div>
    </div>
    <div class="nav_placeholder"></div>
    <!-- attractions nav end-->

    <!--restaurant repeat-->
    <div class="restaurant_header"></div>
    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/183/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/183/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">全や連総本店</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/17/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">ちょうちんもなか</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/9/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/111/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/183/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/183/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/183/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/183/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>
    <div class="restaurant_placeholder"></div>

    <div class="restaurant">
        <div class="restaurant__content">
            <div class="restaurant__content_left">
                <img class="restaurant__content_img" src="http://www.daoyoutalk.com/images/restaurant/27/f.png" alt="图片表述" />
            </div>
            <div class="restaurant__content_right">
                <div class="restaurant__content_name">Patisserie Sadaharu Aoki Paris</div>
                <div class="restaurant__content_cf">
                    <div class="restaurant__content_c">
                        <span class="restaurant__content_c_img"></span>363
                    </div>
                    <div class="restaurant__content_f">
                        <span class="restaurant__content_f_img"></span>99
                    </div>
                </div>
                <div class="restaurant__content_title">甜品界大神青木定治的华丽魔法</div>
                <div class="restaurant__content_tag">
                    <span class="restaurant__content_tag-item">[甜品]</span>
                    <span class="restaurant__content_tag-item">[糕点]</span>
                    <span class="restaurant__content_tag-item">[面包蛋糕]</span>
                </div>
                <div class="restaurant__content_distance">< 5.4公里</div>
            </div>
        </div>
    </div>

    <!--helper and count-->
    <div class="reminder__icon reminder__icon_count">
        <span class="reminder__icon_text"><span class="reminder__icon_text_one">3</span><br /><span class="reminder__icon_text_two">6</span></span>
    </div>


    <!--Jquery-->
    <script src="../libs/jquery/jquery-2.1.3.min.js"></script>
    <!-- Swiper JS -->
    <script src="../libs/swiper/js/swiper.jquery.min.js"></script>
    <script src="../js/ramen-list.js"></script>
</body>
</html>